@import '../helpers/functions.scss';
@import '../helpers/vars.scss';

.birthday-input-container {
  position: relative;
  .birthday-placeholder {
    position: absolute;
    z-index: 10;
    left: toRem(40);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: auto 0;
    height: $form-input-height;
    font-size: toRem(16);
    text-transform: capitalize;
    color: $placeholder-color;
    width: 100%;
    background: $primary-background;
    pointer-events: none;
  }
  input[type='date']::-webkit-date-and-time-value {
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    width: 100%;
    text-align: left;
  }
}
