@import '../helpers/functions.scss';
@import '../helpers/vars.scss';

.height-input-label {
  .icon {
    position: absolute;
    color: $primary;
    height: 18px;
  }
  .height-inputs {
    display: flex;
    // justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: toRem(40);
    margin-right: toRem(20);

    div {
      display: flex;
      width: fit-content;
      align-items: center;
      height: $form-input-height;
      margin: 0;
      span {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: toRem(16);
        color: $secondary-text;
      }
    }
    input {
      height: $form-input-height;
      // background: red;
      width: 2ch;
      // max-width: 100px;
      text-align: left !important;
      display: flex;
      justify-self: flex-start;
      border-radius: none !important;
      caret-color: $secondary;
    }
  }
}
