@import '../helpers/functions.scss';
@import '../helpers/vars.scss';

.signup-personal-info,
.signup-account-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  padding: 0 toRem(20);
  padding-top: toRem(25);
  margin: 0;

  form {
    width: 100%;
    .inputs {
      display: flex;
      flex-direction: column;
      gap: toRem(10);
      width: 100%;
    }
    .submit-btn {
      margin-top: toRem(25);
      width: 100%;
      background: $secondary;
      font-size: toRem(18);
      font-weight: 700;
      height: fit-content;
      padding: 1rem 0;
    }
    .sign-in-prompt {
      text-align: center;
      margin-top: toRem(25);
    }
  }
}

.signup-personal-info {
  .gender-inputs {
    padding-top: toRem(25);
    display: flex;
    gap: toRem(30);
    justify-content: center;
    align-items: center;
    div {
      font-size: toRem(16);
      font-weight: 500;
      width: 100%;
      text-align: center;
      background: $secondary-background;
      padding: 1rem 2rem;
      border-radius: $border-radius;
    }
  }
}
