@import '../../helpers.scss';

.character {
  .head {
    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $tertiary-background;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      img {
        object-fit: contain;
        width: 60px;
        height: 60px;
      }
    }
  }
}
