@import '../helpers/functions.scss';
@import '../helpers/vars.scss';

.security-page {
  .change-password-form {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    .show-passwords-btn {
      font-size: toRem(12);
      color: $secondary-text;
      margin: 0;
    }
    .submit-btn {
      margin: 0;
      width: 30%;
      padding: 0.75rem 0.25rem;
    }
    .error-text {
      color: red;
      font-size: toRem(12);
    }

    &:invalid {
      .submit-btn {
        background: $secondary-background;
        color: $placeholder-color;
      }
    }
  }
}
