@import '../../../helpers.scss';

.workout-selection {
  margin-bottom: $navbar-height;
  padding-bottom: 2rem;

  .search-workouts-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    margin-bottom: 1rem;
    .icon {
      position: absolute;
      left: 0;
      padding: 0 0.5rem;
      height: 18px;
      width: 18px;
    }
    input {
      background: $tertiary-background;
      width: 100%;
      height: 100%;
      padding-left: 2rem;
      color: $primary;
      border-radius: $border-radius;
    }
  }
}
