@import '../../../helpers.scss';

.exercise-path {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  background: $secondary-background;
  border-radius: $border-radius;

  .list {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .path-item {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center !important;
    gap: 2rem;

    label.set-label {
      display: flex;
      text-transform: uppercase;
      font-size: 0.9rem;
    }

    .reps,
    .weight {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
      input {
        width: 4ch;
        font-size: 1.3rem !important;
        height: 100%;
        padding: 0;
        margin: 0;
        color: $primary;

        &::placeholder {
          font-size: 1.3rem;
        }
        // background: $;
      }
      label {
        font-size: 0.8rem;
        color: $tertiary-text;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  .options {
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    button {
      width: 50%;
    }
  }

  .delete-item-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1rem;
    margin: auto 0;

    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    background: none;

    .icon {
      height: 20px;
      width: 20px;
      color: $error-red;
    }
  }

  .exercise-type-dropdown-container {
    margin: 0 auto;
    .select {
      input {
        background: $secondary-background-card;
      }
    }
  }
}
