@import '../../../helpers.scss';

.forgot-password-container {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  .title {
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    font-weight: 600;
  }
  .instructions {
    font-size: 0.875rem;
    padding: 0 1.25rem;
    margin-top: 1rem;
    text-align: center;
  }
  .error,
  .success {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    .icon {
      flex-shrink: 0;
    }
  }
  .success {
    background: $success-green;
  }
  .error {
    background: $error-red;
  }
  .form-container {
    padding: 0 1.25rem;
    padding-top: 1rem;
    margin: 0;

    .submit-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 4rem;
      margin: 0 auto;

      display: flex;
      justify-content: center;
      align-items: center;
      background: $secondary;
      font-size: 1rem;
      font-weight: 600;
      width: 90%;
      height: 50px;
      padding: 1rem 0;
      border-radius: $border-radius;
    }

    .return-to-login {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      padding: 0;
      margin: 1.25rem auto;
      width: 80%;
      color: $secondary;
      .icon {
        color: $secondary;
        width: 15px;
        height: 15px;
      }
      .link {
        font-size: 0.875rem;
        font-weight: 500;
        color: $secondary;
        text-decoration: none;
      }
    }
  }
}
