@import '../../../helpers.scss';

.forgot-password-container {
  .title {
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    font-weight: 600;
  }
  .instructions {
    font-size: toRem(14);
    padding: 0 toRem(20);
    margin-top: 1rem;
    text-align: center;
  }
  .error,
  .success {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    font-size: toRem(14);
    font-weight: 600;
    padding: 0.5rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    .icon {
      flex-shrink: 0;
    }
  }
  .success {
    background: $success-green;
  }
  .error {
    background: $error-red;
  }
  .form-container {
    padding: 0 toRem(20);
    padding-top: 1rem;
    margin: 0;

    .submit-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 53px;
      overflow: hidden;
    }

    .return-to-login {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      padding: 0;
      margin: 1.25rem auto;
      width: 100%;
      color: $secondary;
      .icon {
        color: $secondary;
        width: 15px;
        height: 15px;
      }
      .link {
        font-size: toRem(14);
        font-weight: 500;
        color: $secondary;
        text-decoration: none;
      }
    }
  }
}
