@import '../../../helpers.scss';

.add-exercise-to-workout-modal {
  .modal-content {
    background: $primary-background;
    padding: 2rem 1rem;
    .settings-title {
      margin-bottom: 1rem;
    }
    .exercise-item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $primary-background;

      border: 1px solid $secondary-background;
      border-radius: $border-radius;
      padding: 1rem;
      box-sizing: border-box;
      width: 100%;
      flex: 1;

      .select-exercise-container {
        .select-exercise {
        }
      }
      .dropdown {
      }
    }
    .exercise-path {
      text-align: left;
    }

    .actions {
      margin-top: 2rem;

      .confirm-btn {
        background: $secondary;
      }
    }
  }
}
