@import '../../helpers.scss';

.inventory-page {
  padding-bottom: calc(#{$navbar-height} + 2rem);
  .list {
    .section-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      padding-bottom: 1rem;
    }
    .items {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      margin: 0.5rem 0;

      .type-title {
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $secondary-text;
        font-weight: 600;
      }
      .type-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .type-equipment {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      .item {
        position: relative;
        background: $tertiary-background;
        width: fit-content;
        height: fit-content;
        border-radius: $border-radius;
        padding: 1rem;
        .equipped-indicator {
          position: absolute;
          top: 0.15rem;
          left: 0.15rem;
          .icon {
            height: 22px;
            width: 22px;
            color: $success-green;
          }
        }
        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          img {
            object-fit: contain;
            height: 50px;
            width: 50px;
          }
          img.hat {
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}
