@import '../../../../helpers.scss';

.all-exercises-stats-page {
  .stats-container {
    .sort-options {
      margin: 0 auto;
      margin-bottom: 1rem;

      .select {
        width: 135px;
        margin-left: auto;

        .select-placeholder {
          display: flex;
          gap: 0.35rem;
        }
      }
    }
  }
}
