@import '../../helpers.scss';

.past-workouts-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $secondary-background;
  border-radius: $border-radius;
  height: fit-content;
  width: 100%;

  .head {
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: 0;
    margin-bottom: 2px;
    box-sizing: border-box;
    border-radius: $border-radius;

    &:focus {
      outline: 2px solid $outline;
    }
  }
  .head.past-workouts-item-head {
    padding: 1rem 0.785rem;
  }

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0.25rem;
    box-sizing: border-box;
    background: $primary-background;
    margin: auto 0;
    img {
      object-fit: contain;
      height: 35px;
      width: 35px;
    }
    .img-skeleton {
      height: 50px;
      width: 50px;
      line-height: 1;
    }
  }
  .workout-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;

    .top {
      .name {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      .workout-time {
        font-size: 1rem !important;
      }
      .date-container {
        display: flex;
        .date {
          display: flex;
          align-items: flex-end;
          gap: 0.35rem;
          color: $secondary-text;
          font-size: 0.8rem;
        }
        .collapse-indicator-container {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
  .set-path-label {
    display: flex;
    align-items: flex-end;
    color: $secondary-text;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .collapse-indicator {
    display: flex;
    align-items: flex-end;
    color: $secondary-text;
    padding-left: 0.25rem;

    .icon {
      height: 20px;
      width: 20px;
    }
  }

  .collapse {
    width: 100%;
    overflow: hidden;
    background: $secondary-background;
    padding: 1rem;
    padding: 0;
    height: 0;
  }
  .past-workout-item-collapse {
    padding: 0rem 0.785rem;
    border-radius: $border-radius;
    box-sizing: border-box;
  }
  .collapse.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

    .workout-data {
      border-top: 1px solid $tertiary-text;
      width: 95%;
      display: grid;

      margin: 0;
      padding: 1rem 0;
      row-gap: 1.5rem;
      column-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
      box-sizing: border-box;
      .item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .label {
          color: $secondary-text;
          font-size: 0.8rem;
          font-weight: 500;
        }
        .data {
          font-size: 1.3rem;
          font-weight: 600;
        }
        .coins,
        .exp {
          display: flex;
          align-items: center;

          .icon {
            padding: 0 0.15rem;
          }
        }
        .coins {
          color: $coin-color;
        }
        .exp {
          color: $exp-color;
        }
      }
      .start-finish-time {
        grid-column: 1/3;
      }
      .workout-path {
        grid-column: 1/3;

        .data {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          .workout-path-exercise {
            display: flex;
            flex-direction: column;
            background: $secondary-background-card;
            border-radius: $border-radius;
            padding: 0.5rem;
            .head {
              display: flex;
              gap: 1rem;
            }
            .image {
              background: none;
            }
            .exercise-data {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              flex: 1;

              .name {
                font-size: 0.9rem;
                font-weight: 600;
                text-transform: capitalize;
              }
              .reps-sets {
                display: flex;
                gap: 1rem;
                font-size: 0.75rem;
                color: $secondary-text;
                text-transform: capitalize;
                span {
                  color: $primary;
                }
              }
            }
            .weight {
              display: flex;
              align-items: center;
              padding-right: 0.25rem;
              span {
                font-size: 1rem;
                color: $secondary-text;
                padding-left: 0.25rem;
              }
            }
          }
        }
      }
    }
  }

  .workout-path-exercise {
    padding: 0 !important;
    .head {
      padding: 0.5rem;
      box-sizing: border-box;
    }
    .collapse-indicator-container {
      display: flex;
    }
    .collapse {
      background: $secondary-background-card;
      border-radius: $border-radius;
      .set-path-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        margin: 0;
        padding: 1rem 0;

        border-top: 1px solid $tertiary-text;

        .set {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          align-items: center;
          gap: 1rem;
          width: 90%;
          margin: 0 auto;
          font-size: 0.8rem;
          font-weight: 500;
          text-align: center;

          div {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
          }

          label {
            font-weight: 400;
            color: $secondary-text;
          }

          .set-num {
            font-weight: 400;
            text-transform: uppercase;
            color: $secondary-text;
          }
        }
      }
    }
  }

  .character-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.15rem;
    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 0.9rem;

      .icon {
        padding: 0 0.15rem;
      }
    }
    .coins {
      color: $coin-color;
    }
    .exp {
      color: $exp-color;
    }
  }
}
