@import '../../../helpers.scss';

.plates-modal {
  .modal-content {
    width: calc(#{$max-width} * 0.9);
    .sub-text {
      margin: 0;
      margin-top: toRem(5);
      font-size: toRem(12);
      font-weight: 500;
    }
    .total-weight {
      position: relative;
      font-size: toRem(24);
      padding: 0.5rem 1.25rem;
      width: fit-content;
      margin: 0 auto;
      margin-top: toRem(20);
      margin-bottom: toRem(40);
      border-radius: $border-radius;
      // background: $primary-background;
      background: $secondary;

      .edit-icon {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 22px;
      }
    }
    .change-weight {
      margin-top: toRem(10);
      text-decoration: underline;
      font-size: toRem(12);
      color: $secondary;
    }
    .weights {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0;
      margin-top: toRem(20);

      .weight {
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        .name,
        .amount {
          font-size: toRem(18);
          margin: 0;
        }
      }
    }
  }
}
