@import '../../../helpers.scss';

.update-user-input {
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $primary;
    padding: 0;
    margin: 0;

    input {
      height: 3.75rem;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
    }
    .clear-icon-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      padding: 0;
      margin: 0;
      height: 25px;
      width: 22px;

      .clear {
        height: 15px;
      }
    }
  }
  .characters {
    font-size: 0.75rem;
    font-weight: 500;
    color: $secondary-text;
    margin-top: 1.25rem;
  }
  .action-buttons {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      background: none;
      font-size: 1rem;
      font-weight: 500;
      width: fit-content;
      text-transform: capitalize;
      padding: 0;
      margin: 0;
      height: auto;
      color: $secondary-text;
    }
    .save {
      display: flex;
      justify-content: center;
      color: $secondary-background;
      width: 4ch;
    }
    .save.active {
      color: $secondary;
    }
  }
}
