@import '../../helpers.scss';

.workout-time {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.9rem;
  color: $secondary-text;
  display: flex;
  .time-type {
    display: flex;
    gap: 0.2rem;
    color: $primary;
    .time-indicator {
      color: $secondary-text;
    }
  }
}
