@import '../../../helpers.scss';

.single-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1.875rem 1.25rem 2.5rem 1.25rem;
  text-align: center;
  background: $secondary-background;
  border-radius: $border-radius;
  margin-bottom: 1rem;

  .title {
    font-size: toRem(18);
    font-weight: 700;
    margin: 0;
  }
  .est-time {
    font-size: toRem(14);
    color: $secondary-text;
    margin: 0;
    margin-top: toRem(5);
  }
  .exercises-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    // align-items: center;
    width: 100%;
    margin-top: 2rem;
    .exercise-img {
      display: flex;
      flex-direction: column;

      height: 60px;
      margin: 0;
      width: 100%;
    }
    .exercise-title {
      font-size: toRem(12);
      margin: 0;
    }
    .exercise-weight {
      font-size: toRem(12);
      margin: 0;
      color: $secondary-text;
      font-weight: 700;
      margin-top: toRem(5);
    }
  }
  .single-workout-exercise-loading {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .start-button {
    background: $secondary;
    font-size: 1.1rem;
    width: fit-content;
    padding: 0.25rem 1rem;
    margin-top: 2rem;
  }
  .start-button-loading {
    padding: 0.75rem 1rem;
    margin-top: 2rem;
    border-radius: $border-radius;
  }
}
