@import '../../../helpers.scss';

.user-avatar-and-title {
  display: flex;
  justify-content: center;
  margin: 0;
  .content {
    display: flex;
    gap: toRem(25);
    margin: 0;
    .avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: toRem(90);
      height: toRem(90);
      border-radius: 50%;
      padding: 0;
      margin: 0;

      border: 2px solid $primary;
      img {
        height: 30px;
      }
      .icon.no-avatar {
        height: 30px;
      }
    }
    .user-title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toRem(5);
      padding: 0;
      margin: 0;
      div {
        padding: 0;
        margin: 0;
        font-weight: 700;
      }
      .user-name {
        font-size: toRem(18);
      }
      .user-membership {
        font-size: toRem(14);
        color: $secondary;
      }
    }
  }
}
