@import '../../helpers.scss';
.workout-page {
  height: calc(100% - #{$navbar-height} - 3rem);
}
.workout-loading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .spinner-container {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    margin-left: 16px;
  }
  .text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    color: $secondary-text;
  }
}
