@import '../../../../helpers.scss';

.signup-page.birthday {
  .birthday-input-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

    div {
      input {
        font-size: 1.2rem !important;
        border: 1px solid $secondary-text;
        border-radius: $border-radius;
        padding: 0.75rem 0.5rem;
        color: $primary;

        &:focus {
          border: 2px solid $secondary;
          margin: -1px;
        }
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }

    .month,
    .day {
      input {
        // width: 30px;
        width: 4ch;
      }
    }
    .year {
      input {
        width: 5ch;
      }
    }

    .clear-inputs-btn {
      position: absolute;
      right: -2.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: none;

      .icon {
        height: 20px;
        width: 20px;
        color: $tertiary-text;
        flex-shrink: 0;
      }
    }
  }
}
