@import '../../../helpers.scss';

.back-button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 25px;
  margin: 0;
  padding: 0;
  background: none;
  .icon {
    height: 22px;
    width: 22px;
  }
}
