@import '../../helpers.scss';

.settings-page.page {
  position: relative;
  min-height: calc(100% - 3rem);
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    width: fit-content;
    margin: 0 auto;
    background: $error-red;
    .icon {
      flex-shrink: 0;
    }
  }

  .version {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-align: center;
    font-size: 0.8rem;
    color: $tertiary-text;
    text-decoration: none;
  }
}
