@import '../../../helpers.scss';

.stop-workout-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  padding: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  color: $tertiary-text;

  .icon {
    height: 25px;
    width: 25px;
  }
}
.active-workout {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  height: calc(100vh - #{$navbar-height});
  max-height: -webkit-fill-available;
  margin: 0;

  .exercise-title {
    font-size: 2rem;
    font-weight: 500;
    max-width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 0.75rem;
  }
  .exercise-type {
    color: $secondary-text;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
  }
  .rep-set-text {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .workout-data {
    position: absolute;
    top: calc(50% - #{$navbar-height} - 1rem);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .exercise-weight {
      position: relative;
      background: $secondary-background;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      font-size: toRem(20);
      font-weight: 600;
      margin: 0 auto;
      padding: 0.5rem 1.25rem;
      border-radius: $border-radius;
      .icon {
        position: absolute;
        top: -8px;
        right: -8px;
        height: 20px;
      }
    }
    .exercise-img-container {
      margin: 1rem auto;
      width: 55%;
      .exercise-img {
        object-fit: contain;
        width: 55%;
      }
    }
    .view-workout-path {
      display: flex;
      align-items: center;
      background: none;
      font-size: 0.9rem;
      height: fit-content;
      width: fit-content;
      margin: 0 auto;
      padding: 0;
      color: $secondary;
    }
  }

  .options {
    position: absolute;
    bottom: calc(#{$navbar-height} + 4rem);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .timer {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
      .text {
        color: $secondary-text;
      }
      .time {
        margin-top: 0.5rem;
        font-size: 2rem;
      }
    }

    .submit-btn {
      height: 50px;
      width: fit-content;
      padding: 0 2.5rem;
      margin: 0 auto;
    }
    .submit-btn.grayed {
      background: $gray-background;
    }
    .set-failed-btn {
      background: none;
      width: fit-content;
      height: fit-content;
      margin: 0.5rem auto;
      padding: 0.25rem 0.5rem;
      color: $error-red;
      font-weight: 500;
    }
  }
}
