@import '../../../helpers.scss';

.logout-confirm-modal {
  .sub-text {
    margin: 0;
    margin-top: toRem(20);
    font-size: toRem(12);
    font-weight: 500;
  }
  .btns {
    width: 90%;
    margin: 0 auto;
    margin-top: toRem(30);
    display: flex;
    justify-content: space-between;

    button {
      width: fit-content;
      padding: 0 1rem;
      background: none;
      font-size: toRem(18);
      font-weight: 700;
    }
    .cancel-btn {
      color: $secondary-text;
    }
    .logout-btn {
      background: $error-red;
    }
  }
}
