@import '../../../helpers.scss';

.settings-button {
  position: relative;
  height: 3.125rem;
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0;
  padding: 0 !important;

  cursor: pointer;

  .icon {
    position: absolute;
    height: 22px;
    width: 22px;
  }
  .right-icon {
    height: 16px;
    width: 16px;
    right: 0;
  }

  .setting-title,
  .input-text {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: fit-content !important;
  }
  .setting-title {
    font-weight: 600;
    text-transform: capitalize;
  }
  .setting-title.active-icon {
    margin-left: 2.188rem;
  }
  .input-text {
    font-weight: 400;
    color: $secondary-text;
    margin-right: 2.188rem;
  }
}
