@import '../../helpers/functions.scss';
@import '../../helpers/vars.scss';

.workout-timer {
  // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  text-align: center;
  // height: 80vh;
  // height: calc(100vh - (#{$navbar-height} * 2) - #{$page-margin-top});
  // max-height: calc(
  //   -webkit-fill-available - #{$navbar-height} + #{$page-margin-top}
  // );
  // height: calc(100vh - (#{$navbar-height} * 1.5) - #{$page-margin-top});
  height: calc(100vh - #{$navbar-height});
  max-height: -webkit-fill-available;
  margin: 0;

  .timer-title {
    font-size: toRem(18);
    font-weight: 500;
    margin-top: toRem(30);
  }
  .timer {
    font-size: toRem(36);
    font-weight: 700;
  }
  .rest-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    margin: 0 auto;
  }
  .skip-rest-btn {
    position: absolute;
    bottom: $navbar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary-background;
    width: fit-content;
    font-size: toRem(18);
    font-weight: 700;
    padding: 1.5rem;
    height: 50px;
  }
}
