@import '../../../helpers.scss';

.workout-complete {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$navbar-height});
  max-height: -webkit-fill-available;
  overflow: hidden;
  .anim {
    // position: absolute;
    // width: 140%;
    // top: 50%;
    // transform: translateY(-50%);
  }
  .content {
    text-align: center;
    z-index: 10;
    .title {
      font-size: toRem(24);
      font-weight: 700;
      margin-bottom: toRem(20);
    }
    .text {
      font-size: toRem(18);
    }
    .back-home-btn {
      background: $secondary;
      font-size: toRem(18);
      font-weight: 700;
    }
  }
}
