@import '../../helpers.scss';

.past-workouts-link {
  h3.title {
    text-align: center;
    font-size: 1rem;
    width: 30ch;
    margin: 0 auto;
    // width: ;
  }
  .workout-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.25rem;
    .label {
      font-size: 0.75rem;
      color: $tertiary-text;
    }
    .time {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 0.75rem;
      .time-type {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
    .time-indicator {
      color: $tertiary-text;
      font-size: 0.75rem;
    }
  }
}
