@import './functions.scss';

$primary: #eeeeee;
$secondary: #548ca8;
$placeholder-color: #eeeeee80;

$white-text: #ffffff;
$secondary-text: #c0c0c0;

$primary-background: #334257;
$secondary-background: #476072;

$border-radius: 5px;

$form-input-height: toRem(45);

// Fonts and font-styles
$font-family: 'Montserrat', sans-serif;
