@import '../../../helpers.scss';

.create-workout-page.workout-type-selection {
  .workout-type-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;

    .saved-container,
    .temp-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      p {
        font-size: 0.85rem;
      }
    }
    button {
      height: fit-content;
      width: 80%;
      background: $primary-background;
      border: 1px solid $placeholder-color;
      outline: none;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0 auto;
      padding: 1.1rem 0;
    }
    button.selected {
      background: $secondary;
      border-color: $secondary;
    }
  }
  .next-btn {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
    height: fit-content;
    padding: 1rem 0;
    border-radius: $border-radius;
  }
}
