.signup-page.email-signup {
  .settings-title {
    margin-top: 1.5rem;
  }
  .error {
    width: 90%;
  }
  .signup-inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 90%;
  }
}
