@import '../../../../../helpers.scss';

.all-chart-data-page {
  .stats-container {
    .chart-data-item {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
    }
  }
}
